<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
      <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
      <base href="{{ base }}"/>
      <link rel="stylesheet" type="text/css" href="/static/themes/default/style.css"/>
      <!--[if gte IE 6]>
      <link rel="stylesheet" type="text/css" href="/static/themes/default/ie.css"/>
      <![endif]-->
      {% for style in settings.extra_styles %}
        <link rel="stylesheet" type="text/css" href="{{ style|escape }}"/>
      {% endfor %}
      <link rel="shortcut icon" href="{% if settings.favicon %}{{ settings.favicon|escape }}{% else %}/static/logo.png{% endif %}" type="image/png" /> 
      <link rel="alternate" type="application/rss+xml" title="New Pages" href="/w/index.rss" /> 
      {% block heads %}{% endblock %}
      <title>{% block title %}{{ settings.title|escape }}{% endblock %}</title>
      {% if settings.owner_meta %}
        <meta name="google-site-verification" content="{{ settings.owner_meta }}"/>
      {% endif %}
      {% if settings.gaid %}<script type="text/javascript">var _gaq = _gaq || []; _gaq.push(['_setAccount', '{{ settings.gaid }}']); _gaq.push(['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();</script>{% endif %}
      {% for script in settings.extra_scripts %}
        <script type="text/javascript" src="{{ script|escape }}"></script>
      {% endfor %}
      {% if settings.extra_init_script %}
        <script type="text/javascript">{{ settings.extra_init_script }}</script>
      {% endif %}
    </head>
    <body>
    	{% block header %}
      <div id="header">
        <div class="top">
          <div class="login">
            {% if user %}
              <strong><a href="/user:{{ user.nickname|uurlencode }}">{{ user.nickname|escape }}</a></strong>
              <a href="/w/index">Index</a>
              <a href="/w/changes">Changes</a>
              {% if is_admin %}
                <a href="/w/users">Users</a>
              {% endif %}
                <a href="{{ log_in_out_url|escape }}">Sign out</a>
            {% else %}
              <div align="right"><a href="{{ log_in_out_url|escape }}">Log in</a></div>
            {% endif %}
          </div>
        </div>
      </div>
    	{% endblock %}
    {% if sidebar %}
      <div id="sidebar">
        {{ sidebar }}
        {% if page_exists %}
          <div class="tools">
            <h3>Tools</h3>
            <ul>
              <li><a href="/w/backlinks?page={{ page_title|uurlencode }}">Pages that link here</a></li>
            </ul>
          </div>
        {% endif %}
      </div>
    {% endif %}
    <div id="page">
      {% block content %}{% endblock %}
    </div>
		{% block footer %}
      <div id="footer">
        {% if page_exists %}
        <p id="pm">This page was last edited {% if page_author %}by <a href="/user:{{ page_author|uurlencode }}">{{ page_author|escape }}</a>{% else %}anonymously{% endif %} on {{ page_updated|date:"d.m.y" }} at {{ page_updated|date:"H:i" }}.</p>
        {% endif %}
        {% if footer %}{{ footer }}{% endif %}
      </div>
		{% endblock %}
    </body>
</html>
